#main-title > h1 {
	position:absolute;
	left:26%;
	line-height:1.5;
}

#Text-All > h2 {
	font-family:"Comic Sans MS", cursive, sans-serif;

}
#Text-All {
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-align:justify;
}
h3 {
	font-weight:bold;
}

#logo > img{
	height: 80px;
	width: 150px;
}

.navbar-custom {
    color: #07549b;
    background-color: #46a0f4;
}

.navbar-custom li a{
    color:#ffffff
}

#navigation a:hover, a:active {
    display: block;
    background-color: #00376b;
}
